* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d0c2b1;
}
main {
  height: 80vh;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #f1f1f1; */
  background-color: #e9e9e9;
  /* background-color: #ffffffbf; */
  border-radius: 5px;
  text-align: center;
  overflow-y: auto;
}
.inputContainer {
  width: 90%;
  height: 7vh;
  margin: auto;
  margin-top: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#input {
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}

.addBtn {
  font-size: 20px;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.addBtn:active {
  scale: 0.95;
}
.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  padding-bottom: 10px;
}
.list {
  width: 93%;
  display: flex;
  min-height: 10px;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
#checkbox {
  cursor: pointer;
  scale: 1.2;
}
.todo {
  cursor: pointer;
  user-select: none;
  text-align: start;
  padding: 3px 5px 3px 10px;
  font-size: 18px;
}
.icons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
i {
  cursor: pointer;
}
.done{
  text-decoration: line-through;
}
.done-bg{
  background-color: rgba(212, 211, 211, 0.793);
}
.soundAccess{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  position: absolute;
  top: 50px;
  right: 85px;
} 
.sa{
  padding: 15px;
  font-size: 23px;
}